.blog_domain {
  width: 50%;
}

.read-more {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #99b3aa;
}

.read-more:hover{
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #99b3aa;
}

h1 {
  margin: 0;
}
